name: Lab

on:
  push:
    branches: [ main ]

jobs:
  deploy-cloud:
    runs-on: self-hosted
    env:
      HOST: localhost
    steps:
      - uses: actions/checkout@v4

      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.CLOUD_SSH_KEY }}

      - name: Install docker-compose
        run: |
          sudo curl -L "https://github.com/docker/compose/releases/download/v2.26.0/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose

      - name: Stop containers
        run: |
          docker-compose -f docker-compose.yml down -v --remove-orphans || true

      - name: Copy files
        run: |
          cp docker-compose.yml deploy.sh suricata/suricata.yaml test-suricata.sh setup_blocking_rules.sh ./

      - name: Run deployment script
        run: |
          bash deploy.sh
          sleep 10

      - name: Start containers
        run: |
          docker-compose -f docker-compose.yml up -d

      - name: Test Suricata
        run: |
          bash test-suricata.sh

      - name: Setup blocking rules
        run: |
          sudo bash setup_blocking_rules.sh